body {
    font-family: sans-serif
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: mediumseagreen;
}

.active {
  background-color: green;
}
